body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.fasion{
  color: rgb(8, 107, 153);
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.form-control{
  margin-left: 35%;
}
.info{
  border-radius: 2px;
  margin-right: 35%;
}
.input-group{
  width: unset;
  flex-wrap: nowrap;
}
.search-button {
  padding: 10px 50px;
  border-radius: 24px;
  margin-left: 25px;
  background-color: rgb(101, 201, 219);
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-image: linear-gradient(rgb(255, 255, 255),rgb(197, 179, 179));
  margin: 2px;
  margin-top: 5px;
  height: 480px;
  width: auto;
  border: 1px solid gray;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgb(75, 121, 180);
  border-radius: 10px;
  border: 1px solid rgb(65, 117, 230);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
